body {
  background-color: black;
  color: white;
  text-align: center;
}
header {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 900px) {
  #playground {
    position: relative;
    width: 100%;
    height: 25vh;
    background-color: #ffffff;
    display: flex;
    
  }
  #pc,
  #you {
    height: 25vh;
    width: 45vw;
    background-color: pink;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
  }
  #pc {
    margin-right: 10vw;
  }
  #you {
    margin-left: 10vw;
  }

  #text {
    padding: 10px;
  }
  #logo {
    height: 40vh;
    width: 100%;
    background-color: black;
  }
  #pick {
    background-color: green;
    width: 80vw;
    height: 15vh;
    border-radius: 10px;
    margin: auto;
    margin-top: 14px;
    display: flex;
  }
  #rock,
  #paper,
  #scissor {
    height: 97%;
    width: 33%;
    border: 2px solid pink;
    border-radius: 10px;
  }
}
@media (min-width: 900px) {
  #playground {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
  }
  #pc,
  #you {
    height: 45vh;
    width: 30vw;
    background-color: pink;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
  }
  #pc {
    margin-left: 10vw;
    margin-right: 10vw;
  }
  #you {
    margin-left: 10vw;
    margin-right: 10vw;
  }
  #text {
    padding: 10px;
  }
  #logo {
    height: 40vh;
    width: 30vw;
    background-color: black;
  }
  #pick {
    background-color: green;
    width: 40vw;
    height: 18vh;
    border-radius: 10px;
    margin: auto;
    margin-top: 14px;
    display: flex;
  }
  #rock,
  #paper,
  #scissor {
    height: 97%;
    width: 33%;
    border: 2px solid pink;
    border-radius: 10px;
  }
}
#rock,#paper,#scissor{
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#rock {
  background-image: url("/images/rock/rock_up.png");
  
}
#paper {
  background-image: url("/images/paper/paper_up.png");
 
}
#scissor {
  background-image: url("/images/scissor/scissor_up.png");

}
#result {
  margin: auto;
  margin-top: 20px;
  background-color: red;
  height: 30px;
  width: 70vw;
  padding-top: 7px;
  border-radius: 5px;
}
#button {
  margin: auto;
  margin-top: 20px;
  background-color: green;
  height: 30px;
  width: 70vw;
  padding-top: 7px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
#rock-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

#rock-image {
  width: 73%; /* change this for more cooler version */
  height: 100%;
  animation: bounce 1s ease-in-out 3; /* 3 bounces */
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  } /* Start and end at original position */
  50% {
    transform: translateY(-50px);
  } /* Move up */
}
